<link rel="stylesheet" href="{{ 'collections.css' |  asset_url }}">

{%  style  %} 
.padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %} 


<div class="collections padding-{{ section.id }}">
    <div class="page-width">
        <div class="collections__wrapper">
            <div class="collections__header-section">
                <div class="collections__heading">
                    {% if section.settings.heading !=blank %}
                    <h2 class="h0">{{ section.settings.heading }}</h2>
                    {% endif %}
                </div>
                {% if section.settings.button_link != blank and section.settings.button_text != blank %}
                    <a class="collections__button" href="{{ section.settings.button_link }}"><span>{{ section.settings.button_text }}</span></a>
                {% endif %}
            </div>

            {% comment %} Slider {% endcomment %}

            <div class="collections__slider">
                <my-splide>
                    <div class="splide collections__splide">
                        <div class="splide__arrows splide__arrows--ltr">
                            <button class="splide__arrow splide__arrow--prev" type="button" disabled="" aria-label="Previous slide" aria-controls="splide03-track">
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                            </svg>
                            </span>
                            </button>
                            <button class="splide__arrow splide__arrow--next" type="button" aria-label="Next slide" aria-controls="splide03-track">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false">
                                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path>
                                </svg>
                            </span>
                            </button>
                        </div>
                        <div class="splide__track">
                            <div class="splide__list">
                                    {% for block in section.blocks %}
                                        <div class="splide__slide">
                                        {% render 'responsive-picture',class:'collections__card-image' ,desktopImage: block.settings.desktop_image  , mobileImage: block.settings.mobile_image %}
                                        <div class="collections__text-wrapper">
                                        {% if block.settings.title != blank and block.settings.title_link != blank %}
                                            <h3 class="collections__card-heading">
                                                <a href="{{ block.settings.title_link }}">{{ block.settings.title }}</a>
                                            </h3>  
                                        {% endif %}
                                        {% if block.settings.button_link != blank and block.settings.button_text != blank %}
                                            <a class="collections__card-button" href="{{ block.settings.button_link }}"><span>{{ block.settings.button_text }}</span></a>
                                        {% endif %}
                                        </div>
                                        </div>
                                        {% else %}
                                        {% for i in (1..5) %}
                                            <div class="splide__slide">
                                                {{ 'product-' |  append: i |  placeholder_svg_tag }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <script>
                        {
                            "arrows":true,
                            "pagination":false,
                            "perPage":5,
                            "gap":"20px",
                            "breakpoints":{
                                "991":{
                                    "perPage":3
                                },
                                "768":{
                                    "perPage":2
                                }
                            }
                        }
                    </script>
                </my-splide>
            </div>
        </div>
    </div>
</div>


{%  schema  %} 
 {
    "name":"Collections",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Section Heading"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
        },
        {
            "type": "header",
            "content":"Section Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "name": "Collections Block",
            "type": "product-content",
            "settings":[
                {
                    "type": "image_picker",
                    "id":"desktop_image",
                    "label":"Desktop Image"
                },
                {
                    "type": "image_picker",
                    "id":"mobile_image",
                    "label":"Mobile Image"
                },
                {
                    "type":"text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type":"url",
                    "id": "title_link",
                    "label": "Title Link"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Link"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text"
                }
            ]
        
        }
        
    ],
    "presets": [
        {
            "name": "Collections"
        }
    ]
 }
{% endschema %}