{{ 'customer.css' | asset_url | stylesheet_tag }}

{{ 'custom-account-pages.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  /* .accounts-page__header svg{
    height: 32.5px;
    width: 32.5px;
  } */
  .accounts-page{
    background-color: {{ section.settings.background_color }}
  }
  .accounts-page__header{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom: 25px;
  }
  .accounts-page__header .header-heading{
    margin: 0;
    font-weight: 700;
    font-size: 32px;
  }

  .accounts-page__name{
    font-size: 20px;
    font-weight:600;
    padding:10px;
    margin-bottom: 10px;
  }
  .accounts-page__email-phone ,.accounts-page__address {
    word-break: break-word;
    border: 2px solid rgb(216, 198, 198);
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
  }

  .accounts-page__email-phone .email{
    margin-bottom:10px;
  }



{%- endstyle -%}
<div class="custom-main-account page-width section-{{ section.id }}-padding">
    {% render 'account-nav' %}

<div class="customer account">
  <div>
      <div class="accounts-page">
        <div class="accounts-page_wrapper">
          <div class="accounts-page__header">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="account"><path d="M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 20c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"></path><path fill="none" d="M0 0h48v48H0z"></path></svg>
            <h2 class="header-heading">
              My Account
            </h2>
          </div>
          <h2 class="accounts-page__name uppercase">
            {{ customer.name }}
          </h2>
          <div class="accounts-page__email-phone">
            <div class="email">{{ customer.email }}</div>
            <div class="phone">{{ customer.phone }}</div>
          </div>
          <div class="accounts-page__address">
            <p>{{ customer.email }}</p>
            <div class="customer-address">
              {{ customer.addresses[0] |  format_address }}
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
</div>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "color",
      "id": "backgroud_color",
      "label": "Background color",
      "info": "Background color for contents page",
      "default":" rgb(245,245,245)"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}