<link rel="stylesheet" href="{{ 'richtext-section.css' |  asset_url }}">
{% comment %} <script src="{{ 'richtext.js' |  asset_url }}" defer></script> {% endcomment %}

{%  style  %} 
.padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %} 


<div class="richtext-section padding-{{ section.id }}">
    <div class="page-width">
        <div class="richtext-section__container">
            {% if section.settings.tag != blank %}
                <p class="richtext-section__section-tag">
                    {{ section.settings.tag }}
                </p>
            {% endif %}

            {% if section.settings.title != blank %}
                <div class="richtext-section__section-title "> {{ section.settings.title }}</div>
            {% endif %}

            {% if section.settings.button_text !=blank and section.settings.button_link != blank %}
                <a class="richtext-section__button" href="{{ section.settings.button_link }}"><span>{{ section.settings.button_text }}</span>
                </a>
                
            {% endif %}
        </div>

    </div>
</div>

<script>
    var words = document.querySelectorAll(".richtext-section__section-title p a");
    var wordArray = [];
    var currentWord = 0;
    words[currentWord].style.opacity = 1;
    for (var i = 0; i < words.length; i++) {
        splitLetters(words[i]);
    }
    function changeWord() {
        for (var j = 0; j < words.length; j++) {
            var cw = wordArray[j];
            for (var i = 0; i < cw.length; i++) {
                animateLetterOut(cw, i);
            }
            for (var i = 0; i < cw.length; i++) {
                cw[i].className = "letter behind";
                cw[0].parentElement.style.opacity = 1;
                animateLetterIn(cw, i);
            }
        }
    }
    function animateLetterOut(cw, i) {
        setTimeout(function () {
            cw[i].className = "letter out";
        }, i * 80);
    }
    function animateLetterIn(nw, i) {
        setTimeout(function () {
            nw[i].className = "letter in";
        }, 340 + i * 80);
    }
    function splitLetters(word) {
        var content = word.innerHTML;
        word.innerHTML = "";
        var letters = [];
        for (var i = 0; i < content.length; i++) {
            var letter = document.createElement("span");
            letter.className = "letter";
            letter.innerHTML = content.charAt(i);
            word.appendChild(letter);
            letters.push(letter);
        }
        wordArray.push(letters);
    }
    changeWord();
    setInterval(changeWord, 2000);

</script>

{%  schema  %} 
    {
        "name":"Richtext Section",
        "tag":"section",
        "settings": [
            {
                "type": "text",
                "id": "tag",
                "label": "Section Tag"
            },
            {
                "type": "richtext",
                "id": "title",
                "label": "Section Title"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Label"
            },
            {
                "type":"text",
                "id": "button_text",
                "label": "Button Label"
            },
            {
                "type": "header",
                "content":"Section Padding"
            },
            {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 36
            },
            {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 36
        }
        ],
        "presets": [
            {
                "name": "Richtext Section"
            }
        ]
    }

{% endschema %}