<link rel="stylesheet" href="{{ 'usp-section.css' |  asset_url }}">

{%  style  %} 
.padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %} 


<div class="usp-section padding-{{ section.id }}">
    <div class="usp-section__container">
        <div class="page-width">
            <div class="grid grid--4-col-desktop grid--2-col-tablet grid--1-col">
            {% for block in section.blocks %}
                <div class="grid__item">
                    {% if block.settings.logo != blank %}
                        <div class="usp-section__logo">{{ block.settings.logo }}</div>
                    {% endif %}
                    <div class="usp-section__text-content">
                        {% if block.settings.title!= blank %}
                            <h2 class="h3 large">{{ block.settings.title }}</h2>
                        {% endif %}
                        {% if block.settings.description != blank %}
                            {{ block.settings.description }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>



{%  schema  %} 
    {
        "name":"USP Section",
        "tag": "section",
        "settings": [
            {
                "type":"header",
                "content":"Section Padding"
            },
            {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top",
            "default": 36
            },
            {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom",
            "default": 36
        }
        ],
        "blocks": [
            {
                "name": "USP Blocks",
                "type": "product-content",
                "settings": [
                    {
                        "type": "html",
                        "id": "logo",
                        "label":"Logo"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "USP Section"
            }
        ]
    }
{% endschema %}